/* 
@NOTE: This file is used in articles, activities, and cities 
*/
/* custom */
@import './app/components/youtube.css';
@import './app/components/table.css';
@import './app/components/notification.css';

/* overrides */
@import './app/components/just-comments.css';
@import './app/components/share-buttons.css';

/* stupid mistakes */
.bold,
.make-bold {
    font-weight: 700;
}
/* table of contents */
.toc-list {
    position: relative;
    overflow: hidden;
}

.toc-list-item {
	margin-bottom: 15px;
}

.toc-link::before {
	background-color: #ebc944
}

.is-active-link::before {
  background-color: #4D7DEA
}

.toc-link::before {
  width: 4px
}

a.toc-link {
	font-weight: normal;
}